.heading1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-weight: lighter;
}

.welcome {
    margin-top: 80px;
    font-size: 30pt;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.aboutUs {
    text-align: center;
}

Container {
    padding-top: 10px;
}